
svg{
  width: 100px;
  height: 100px;
  margin: 20px;
  display:inline-block;
}

.page-loader {
    width: 100px;
    height: 100px;
    margin-left: 45%;
    margin-top: 25%;
    display:inline-block;
  }